<section class="tw:flex tw:justify-center tw:min-h-full auth-layout">
  <div
    class="tw:grid tw:py-8 tw:px-4 tw:md:lg:px-4 tw:md:lg:py-16 tw:gap-6 tw:place-self-center">
    <div class="tw:place-self-center">
      <img src="./logo/company-logo-white.svg" alt="Connecta Logo" />
    </div>
    <div class="tw:place-self-center tw:min-w-full">
      <div class="tw:bg-white tw:p-6 tw:rounded-lg tw:shadow tw:mx-auto md:lg:tw:p-8 tw:md:lg:min-w-md tw:max-w-xl">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
