@if (!config().link) {
  <button
    mat-button
    color="primary"
    [disabled]="config().disabled"
    [class.mat-mdc-raised-button]="config().variant === 'raised'"
    [class.mat-mdc-outlined-button]="config().variant === 'stroked'"
    [class.mat-mdc-unelevated-button]="config().variant === 'flat'"
    [class.mat-mdc-icon-button]="config().variant === 'icon'"
    [class.mat-mdc-fab]="config().variant === 'fab'"
    [class.mat-mdc-mini-fab]="config().variant === 'mini-fab'"
    [class.mat-mdc-extended-fab]="config().variant === 'extended-fab'"
    [class]="config().buttonClass"
    (click)="onClick.emit()">
    <ng-container [ngTemplateOutlet]="buttonLabel" />
  </button>
} @else {
  <a
    mat-button
    target="_blank"
    color="primary"
    [href]="config().link"
    [disabled]="config().disabled"
    [class.mat-mdc-raised-button]="config().variant === 'raised'"
    [class.mat-mdc-outlined-button]="config().variant === 'stroked'"
    [class.mat-mdc-unelevated-button]="config().variant === 'flat'"
    [class.mat-mdc-icon-button]="config().variant === 'icon'"
    [class.mat-mdc-fab]="config().variant === 'fab'"
    [class.mat-mdc-mini-fab]="config().variant === 'mini-fab'"
    [class.mat-mdc-extended-fab]="config().variant === 'extended-fab'"
    [class]="config().buttonClass">
    <ng-container [ngTemplateOutlet]="buttonLabel" />
  </a>
}

<ng-template #buttonLabel>
  @if (config().icon) {
    <mat-icon>{{ config().icon }}</mat-icon>
  } @else if (config().imageIcon) {
    <img [src]="config().imageIcon" class="tw:h-6" />
  }

  <span>{{ config().label }}</span>
</ng-template>
