<mat-nav-list class="sidebar">
  @for (item of menu(); track $index) {
    <!-- Parent item -->
    <mat-list-item
      class="tw:cursor-pointer"
      [class.active-item]="isActive(item)"
      (click)="clickedMenu(item)">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.label }}</span>

      <!-- Expand/collapse arrow -->
      @if (item.submenu) {
        <mat-icon>
          {{ isExpanded(item) ? 'expand_less' : 'expand_more' }}
        </mat-icon>
      }
    </mat-list-item>

    <!-- Submenu -->
    @if (item.submenu && isExpanded(item)) {
      <div class="tw:pl-4">
        <app-admin-sidebar
          [menu]="item.submenu"
          [snav]="snav()"
          [isMobile]="isMobile()"
          (toggleMenu)="isMobile() ? snav()?.toggle() : null" />
      </div>
    }
  }
</mat-nav-list>
