<mat-nav-list class="sidebar">
	@for (item of menu(); track $index) {
		<!-- Parent item -->
		<mat-list-item
			class="tw:cursor-pointer"
			[class.active-item]="isActive(item)"
			(click)="clickedMenu(item)">
			@if (item.icon) {
				<fa-icon [icon]="item.icon" matListItemIcon />
			}
			<span matListItemTitle>{{ item.label }}</span>

			<!-- Expand/collapse arrow -->
			@if (item.submenu) {
				<fa-icon [icon]="isExpanded(item) ? faIcon.faChevronUp : faIcon.faChevronDown" />
			}
		</mat-list-item>

		<!-- Submenu -->
		@if (item.submenu && isExpanded(item)) {
			<div class="tw:pl-4">
				<app-admin-sidebar
					[menu]="item.submenu"
					[snav]="snav()"
					[isMobile]="isMobile()"
					(toggleMenu)="isMobile() ? snav()?.toggle() : null" />
			</div>
		}
	}
</mat-nav-list>
