.divider-with-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider-with-text-container mat-divider {
  flex: 1;
  border-color: rgba(229, 231, 235, 1);
}

.divider-text {
  padding: 0 1.25rem;
  color: rgba(107, 114, 128, 1);
}

::ng-deep .mdc-button__label {
  gap: 10px;
  display: flex;
}
