.breadcrumb-container {
	font-size: 14px;
	color: #757575;
}

.breadcrumb-list {
	list-style: none;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
}

.breadcrumb-item {
	display: flex;
	align-items: center;

	a {
		display: flex;
		align-items: center;
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.breadcrumb-label {
		margin-left: 4px;
	}

	.breadcrumb-icon {
		height: unset;
		font-size: 18px;
		vertical-align: middle;
		color: gray;

		&.filled {
			color: #000;
		}
	}

	.breadcrumb-separator {
		margin: 0 8px;
	}

	.active {
		font-weight: 500;
		color: #000;
	}
}
