$--table-text-color: #09090b;
$--table-border-radius: 8px;

.table-container {
  position: relative;
  display: grid;
  padding-bottom: 10px;
  border: 1px solid #d4d4d8;
  border-radius: 16px;

  .table-wrapper {
    overflow-x: auto;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
  }

  &.loading {
    min-height: 30vh;
  }

  .table {
    height: fit-content;
    border-collapse: separate;
    .table-header {
      background-color: var(--mat-sys-primary);
      th {
        color: #ffffff;
        white-space: nowrap;
        &:first-child {
          border-top-left-radius: 14px;
        }
        &:last-child {
          border-top-right-radius: 14px;
        }
      }
    }
    .table-row {
      min-height: 0;
      background: #ffffff;
      cursor: pointer;
      td {
        white-space: nowrap;
        max-width: 400px;
        border-bottom: 0.5px solid #d4d4d8;
      }
      &:first-child td {
        border-top: 1px solid #d4d4d8;
      }
      &:hover {
        background: #e4e4e8;
      }
      .table-row-cell {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        font-weight: 400;
        color: $--table-text-color;
      }
    }
    .table-row-selected {
      background: rgba(145, 70, 106, 0.05);
    }
  }
  .spinner-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    z-index: 1;
    border-radius: 16px;
    background-color: rgba(225, 225, 225, 0.6);
  }
}
.empty-data {
  text-align: center;
}
