<mat-form-field class="tw:w-full" appearance="outline">
  <mat-label>{{ label() }}</mat-label>
  <input
    matInput
    [type]="type()"
    autocomplete="off"
    [field]="fieldControl"
    [placeholder]="'Enter your ' + label().toLowerCase()" />
  @if (icon()) {
    <mat-icon matSuffix>{{ icon() }}</mat-icon>
  }
</mat-form-field>

@if (fieldControl().touched() && fieldControl().invalid()) {
  @for (error of fieldControl().errors(); track error) {
    <mat-error>{{ error.message }}</mat-error>
  }
}
