<div class="tw:flex tw:flex-col tw:absolute tw:top-0 tw:bottom-0 tw:left-0 tw:right-0">
  <app-admin-header [isMobile]="isMobile()" (toggleMenu)="snav.toggle()" />

  <mat-sidenav-container
    class="tw:flex-1"
    [ngClass]="{
      'flex-[1_0_auto]': isMobile(),
    }">
    <mat-sidenav
      #snav
      [mode]="isMobile() ? 'over' : 'side'"
      [opened]="isMobile() ? false : true"
      [fixedInViewport]="isMobile()"
      fixedTopGap="56"
      class="tw:rounded-none!">
      <app-admin-sidebar />
    </mat-sidenav>

    <mat-sidenav-content [style.marginTop.px]="isMobile() ? 56 : 0">
      <div class="tw:w-full tw:p-6">
        <app-breadcrumb [breadcrumbs]="breadcrumbs" />

        <router-outlet />
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
