/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@config "../../tailwind.config.js";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mat-sys-primary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--mat-sys-primary);
}
