@if (config()) {
  <div
    class="table-container"
    [class.table-row]="config().isEmpty()"
    [class.table-empty]="config().isEmpty()"
    [class.loading]="config().isLoading()">
    <div class="table-wrapper">
      <table
        matSort
        matSortDisableClear
        mat-table
        class="table"
        [class]="config().tableClass"
        [dataSource]="pagedData"
        [matSortActive]="
          config().isSorter() ? config().sortActive || config().columns.at(0)?.key! : ''
        "
        [matSortDirection]="config().sortDirection"
        (matSortChange)="sortChange.emit($event)">
        <tr mat-header-row *matHeaderRowDef="headerRow" class="table-header"></tr>

        <tr
          mat-row
          *matRowDef="let row; columns: headerRow; let rowIndex = index"
          class="table-row"
          [class.table-row-selected]="config().isSelected(row)"
          (click)="selectData.emit(row)"
          (mouseleave)="mouseOverChange.emit(null)"
          (mouseover)="mouseOverChange.emit(row)"></tr>

        @for (column of config().columns; track column; let index = $index) {
          <ng-container [matColumnDef]="column.key">
            <th mat-header-cell *matHeaderCellDef>
              @if (column.key === 'selection') {
                <ng-container [ngTemplateOutlet]="selectionTemplate" />
              } @else {
                <span
                  class="table-header"
                  mat-sort-header
                  [disableClear]="true"
                  [disabled]="!column.sortable"
                  [class.tw:font-normal]="!config().isSorter()">
                  {{ column.label }}
                </span>
              }
            </th>

            <td
              mat-cell
              *matCellDef="let data; let i = index; let rowIndex = index"
              (click)="disableClick($event, column.key)">
              <div class="table-row-cell">
                @switch (config().dataType[column.key]?.type) {
                  @case ('date') {
                    {{
                      getPropertyValue(data, column.key)
                        | date: config().dataType[column.key].format
                    }}
                  }
                  @case ('number') {
                    {{ getPropertyValue(data, column.key) }}
                  }
                  @case ('title') {
                    {{ getPropertyValue(data, column.key) | titlecase }}
                  }
                  @case ('currency') {
                    <!-- {{ 123456.789 | currencyIntl:'JPY':'ja-JP':0:0 }} -->
                    {{
                      getPropertyValue(data, column.key) || 0
                        | currencyIntl
                          : config().dataType[column.key].currency
                          : config().dataType[column.key].locale
                          : config().dataType[column.key].minimumFractionDigits
                          : config().dataType[column.key].maximumFractionDigits
                    }}
                  }
                  @case ('custom') {
                    <ng-container
                      [ngTemplateOutlet]="customTemplate"
                      [ngTemplateOutletContext]="{
                        data: data,
                        key: column.key,
                        index: rowIndex,
                      }" />
                  }
                  @default {
                    {{ displayValue(getPropertyValue(data, column.key)) }}
                  }
                }
              </div>
            </td>
          </ng-container>
        }

        @if (config().isEmpty()) {
          <ng-container>
            <tr
              mat-footer-row
              *matFooterRowDef="['nodata']"
              [hidden]="(config().dataSource || []).length">
              <span> No Data Available </span>
            </tr>
          </ng-container>

          <ng-container matColumnDef="nodata">
            <td
              mat-footer-row
              *matFooterCellDef
              class="empty-data"
              [colSpan]="(config().columns || []).length">
              No Data Available
            </td>
          </ng-container>
        }
      </table>
    </div>

    @if (!config().isEmpty() && config().isPagination()) {
      <div class="table-pagination">
        <mat-paginator
          [pageIndex]="config().pageIndex"
          [pageSize]="config().pageSize"
          [length]="config().dataTotal"
          (page)="onPageChange($event)"></mat-paginator>
      </div>
    }

    @if (config().isLoading()) {
      <div class="spinner-container">
        <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
      </div>
    }
  </div>
}
