<div class="tw:grid tw:md:grid-cols-12 tw:mb-4">
	<div class="tw:md:col-span-4">
		<app-search
			placeholder="Search by name or contact no..."
			(searchValue)="onSearch($event)" />
	</div>
	<div class="tw:md:col-span-8 tw:flex tw:justify-end">
		<lib-button [config]="button.addNew()" />
	</div>
</div>

<lib-table
	[config]="tableModel"
	(sortChange)="sortChange($event)"
	(pageChange)="pageChange($event)">
	<ng-template #customTemplate let-data="data" let-key="key">
		@if (key === 'selection') {
			<div [class.show-checkbox]="data.isSelected">
				<mat-checkbox
					class="check-box check__file"
					[checked]="tableModel.isSelected(data)"
					(change)="onRowSelection(data)" />
			</div>
		} @else if (key === 'channels') {
			@for (item of data.contacts; track $index) {
				<div class="tw:text-sm tw:my-1">
					<app-status-badge
						[label]="item.channel"
						[badgeClass]="{
							'tw:bg-blue-100 tw:text-blue-700': ['wa', 'wau'].includes(
								item.channel.toLowerCase()
							),
						}" />

					{{ item.contactNo }}

					@if (item.isPrimary) {
						<fa-icon [icon]="faIcon.faStar" size="xs" class="tw:text-yellow-500" />
					}
				</div>
			}
		} @else if (key === 'actions') {
			<div class="tw:flex tw:gap-3">
				<fa-icon
					[icon]="faIcon.faEdit"
					size="lg"
					class="tw:text-blue-400"
					(click)="navigateToPage(['./edit', data?.id])" />
				<fa-icon
					[icon]="faIcon.faTrash"
					size="lg"
					class="tw:text-red-400"
					(click)="onAction('delete', data?.id)" />
			</div>
		}
	</ng-template>

	<ng-template #selectionTemplate>
		<div class="filter-list">
			<mat-checkbox class="check__file" (change)="onAllSelection($event.checked)" />
		</div>
	</ng-template>
</lib-table>
