<div class="tw:grid tw:md:grid-cols-12 tw:mb-4">
	<div class="tw:md:col-span-4">
		<app-search placeholder="Search by name..." (searchValue)="onSearch($event)" />
	</div>
	<div class="tw:md:col-span-8 tw:flex tw:justify-end">
		<lib-button [config]="button.addNew()" />
	</div>
</div>

<lib-table
	[config]="tableModel"
	(sortChange)="sortChange($event)"
	(pageChange)="pageChange($event)">
	<ng-template #customTemplate let-data="data" let-key="key">
		@if (key === 'selection') {
			<div [class.show-checkbox]="data.isSelected">
				<mat-checkbox
					class="check-box check__file"
					[checked]="tableModel.isSelected(data)"
					(change)="onRowSelection(data)" />
			</div>
		} @else if (key === 'name') {
			{{ data.name }}
		} @else if (key === 'members') {
			@for (item of data.accounts; track $index) {
				<div class="tw:text-sm"> {{ item?.accountName }} ({{ item.accountNo }}) </div>
			}
		} @else if (key === 'actions') {
			<div class="tw:flex tw:gap-3">
				<fa-icon
					[icon]="faIcon.faEdit"
					size="lg"
					class="tw:text-blue-400"
					(click)="openDialog(data)" />
				<fa-icon
					[icon]="faIcon.faTrash"
					size="lg"
					class="tw:text-red-400"
					(click)="onAction('delete', data?.id)" />
			</div>
		}
	</ng-template>

	<ng-template #selectionTemplate>
		<div class="filter-list">
			<mat-checkbox class="check__file" (change)="onAllSelection($event.checked)" />
		</div>
	</ng-template>
</lib-table>
