<h1
  class="tw:font-bold tw:text-2xl tw:text-gray-900 tw:leading-5 tw:tracking-tight tw:text-center tw:mb-5">
  Forgot Password
</h1>

<p class="tw:text-sm tw:font-light tw:text-gray-500 tw:text-center tw:mb-5">
  Please enter your email address and we will send <br/> you a password reset to continue
</p>

<div class="tw:mb-3">
  <app-text-input label="Email" icon="email" [field]="formData.email" />
</div>

<div class="tw:flex tw:flex-col tw:gap-3 tw:mt-4">
  <button matButton="filled" class="tw:w-full" (click)="doResetPassword()">Submit</button>
  <button matButton class="tw:w-full" (click)="navigateToLogin()">
    <mat-icon matSuffix>arrow_back</mat-icon>
    Back to Login
  </button>
</div>
