<mat-form-field class="tw:w-full" appearance="outline">
  <mat-label>{{ label() }}</mat-label>
  @if (hide()) {
    <input
      matInput
      type="password"
      autocomplete="new-password"
      [field]="fieldControl"
      [placeholder]="'Enter your ' + label().toLowerCase()" />
  } @else {
    <input matInput type="text" [field]="fieldControl" />
  }
  <button
    matIconButton
    matSuffix
    (click)="clickEvent($event)"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide()">
    <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
</mat-form-field>

@if (fieldControl().touched() && fieldControl().invalid()) {
  @for (error of fieldControl().errors(); track error) {
    <mat-error>{{ error.message }}</mat-error>
  }
}
